# Gradle
.gradle/
build/
app/build/

# Android Studio & IntelliJ
*.iml
.idea/
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties

# OS generated
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*

# Keystore
*.jks
*.keystore

.harness/
.tmp_browser_profile/
package.json
package-lock.json
tests/*.output
